@layer utilities {
    .belt-img::before {
        content: "";
        position: absolute;
        background-image: var(--theme-event-card-belt-left);
        background-size: contain;
        /* o cover */
        background-repeat: no-repeat;
        background-position: right;
        width: 16px;
        height: 100%;
        left: -15px;
        top: 0;
    }

    .belt-img::after {
        content: "";
        position: absolute;
        background-image: var(--theme-event-card-belt-right);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left;
        width: 16px;
        height: 100%;
        right: -15px;
        top: 0;
    }
}